<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="xunit.appDomain" value="required" />
    <add key="xunit.shadowCopy" value="true" />
    <add key="xunit.maxParallelThreads" value="1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">    
    </assemblyBinding>
  </runtime>
</configuration>